#add-user{
    background-color: $primary;
    min-height: 100vh;

    .content-header{
        @include content-header();
    }

    .add-user{
        padding: 30px;

        form{
            .input-row{
                @include input-row();
            }
    
            .input{
                @include input();
            }

            .input1{
                margin-bottom: 15px;
                label{
                    display: block;
                    margin-left: 20px;
                    margin-bottom: 2px;
                }
                p{
                    width:100%;
                    input{
                        border: 2px solid $white;
                        width: 95%;
                        padding: 15px;
                        border-radius: 10px;
                        background: transparent;
                        &::placeholder{
                            color: $light-gray;
                        }
                    }
                    
                }
            }

            button{
                @include form-button();
            }
        }
    }
}