#planningen{
    background-color: $primary;
    min-height: 100vh;

    .header{
        @include header();
    }

    .add-planning a{
        @include add-button();
    }

    #calendar {
      background-color: $primary;
      padding: 0px 20px;
      padding-top: 10px;
    }

    .fc {
      color: white;
    }

    .eventWithComment {
      white-space: pre-line;
    }

    #delete-planning-modal{
      @include modal();

      .modal-content {
          width: 500px;

          h2 {
              text-align: center;
              margin-bottom: 20px;
          }

          .buttons {
              display: flex;
              gap: 20px;
              justify-content: center;

              .button {
                  @include button();
              }
          }
      }
  }

        
}